.form {

    &__group {
        line-height: 1;

        &-wrap {
            @include fluid-type(margin-top, 320px, 1920px, -20px, -30px);
        }

        &--input {
            @include fluid-type(margin-top, 320px, 1920px, 20px, 30px);
        }

        &--btn {
            @include fluid-type(margin-top, 320px, 1920px, 24px, 34px);
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        @include fluid-type(margin-left margin-right, 320px, 1920px, -7px, -12px);

        &--ai-center {
            align-items: center;
        }
    }

    &__col {
        @include fluid-type(padding-left padding-right, 320px, 1920px, 7px, 12px);
    }

    &__input {
        display: block;
        width: 100%;
        color: $dark;
        line-height: 1;
        font-family: $helvetica;
        transition: $transition;
        border: 2px solid $grayLight;
        border-radius: 3px;

        &:focus {
            border-color: $blueLight;
        }

        &.is-invalid {
            border-color: $red;
        }

        &--large {
            @include fluid-type(height, 320px, 1920px, 36px, 48px);
            @include fluid-type(font-size, 320px, 1920px, 15px, 18px);
            @include fluid-type(padding-left padding-right, 320px, 1920px, 15px, 18px);
        }

        &--medium {
            @include fluid-type(height, 320px, 1920px, 32px, 42px);
            @include fluid-type(padding-left padding-right, 320px, 1920px, 14px, 16px);
            @include fluid-type(font-size, 320px, 1920px, 14px, 16px);
        }
    }

    &__textarea {
        display: block;
        width: 100%;
        color: $dark;
        resize: none;
        font-family: $helvetica;
        transition: $transition;
        border: 2px solid $grayLight;
        border-radius: 3px;

        &:focus {
            border-color: $blueLight;
        }

        &.is-invalid {
            border-color: $red;
        }

        &--large {
            @include fluid-type(height, 320px, 1920px, 108px, 144px);
            @include fluid-type(font-size, 320px, 1920px, 15px, 18px);
            @include fluid-type(padding, 320px, 1920px, 15px, 18px);
        }

        &--medium {
            @include fluid-type(height, 320px, 1920px, 96px, 126px);
            @include fluid-type(padding, 320px, 1920px, 14px, 16px);
            @include fluid-type(font-size, 320px, 1920px, 14px, 16px);
        }
    }

    &__element {
        display: flex;
        align-items: center;

        &--large {
            @include fluid-type(height, 320px, 1920px, 36px, 48px);
        }

        &--medium {
            @include fluid-type(height, 320px, 1920px, 32px, 42px);
        }
    }

    &__checkbox {
        position: relative;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        line-height: 1;
        color: $darkLight;

        &:hover {
            .form__checkbox-icon {
                border-color: $blueLight;
            }
        }

        &-input {
            position: absolute;
            left: -50px;
            top: 0;
            opacity: 0;
            z-index: -1;

            &:checked + span {
                background-color: $blue;
                border-color: $blue;

                &:before {
                    visibility: visible;
                    opacity: 1;
                }
            }

            &:focus + span {
                border-color: $blueLight;
            }

            &:checked:focus + span,
            &:checked:hover + span {
                background-color: $blueLight;
                border-color: $blueLight;
            }
        }

        &-icon {
            position: relative;
            display: block;
            flex: 0 0 auto;
            @include fluid-type(height width, 320px, 1920px, 19px, 22px);
            background-color: #fff;
            border: 2px solid $grayLight;
            transition: $transition;
            border-radius: 3px;

            &:before {
                content: '';
                position: absolute;
                left: 50%;
                top: 40%;
                @include fluid-type(height, 320px, 1920px, 12px, 16px);
                @include fluid-type(width, 320px, 1920px, 6px, 8px);
                transform: translate(-50%, -50%) rotate(45deg);
                border-right: 2px solid #fff;
                border-bottom: 2px solid #fff;
                visibility: hidden;
                opacity: 0;
                transition: $transition;
            }
        }

        &-label {
            margin-left: 0.8em;
        }
    }

    &__message {
        display: block;
        font-size: 0.85em;
        line-height: 1.3;

        &--error {
            color: $red;
            text-align: right;
        }
    }

    &__label {
        display: block;
        font-weight: bold;
        margin: 0 0 0.4em;
        font-size: 0.9em;

        &--medium {
            font-size: 0.8em;
        }
    }

    &__image {
        position: relative;
        @include fluid-type(height width, 320px, 1920px, 108px, 144px);
        background-color: $blueUltraLight;
        overflow: hidden;
        border-radius: 3px;

        &--auto-width {
            display: inline-block;
            width: auto;
            @include fluid-type(min-width, 320px, 1920px, 108px, 144px);
            max-width: 100%;

            img {
                position: relative;
                left: 0;
                top: 0;
                height: 100%;
                width: auto;
                transform: none;
            }
        }

        &-button {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            line-height: 1;
            @include fluid-type(font-size, 320px, 1920px, 36px, 48px);
            cursor: pointer;

            span {
                display: none;
            }
        }

        &-loader {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 3;
            visibility: hidden;
            opacity: 0;
            background-color: $blueUltraLight;
            transition: all 0.3s;

            &.show {
                opacity: 1;
                visibility: visible;
            }
        }

        &-img {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 2;
            height: 100%;
            max-width: none;
            background-color: #fff;
            transform: translate(-50%, -50%);
        }

        &-delete {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 4;
            width: 22px;
            height: 22px;
            padding: 0;
            font-size: 0;
            background: #ffffff;
            cursor: pointer;
            border: 0;
            border-radius: 0 0 0 3px;

            &:hover {

                &:before,
                &:after {
                    background-color: $dark;
                }
            }

            &:before,
            &:after {
                content: '';
                position: absolute;
                left: 2px;
                top: 50%;
                height: 2px;
                width: 18px;
                margin-top: -1px;
                background-color: $grayDarken;
                transition: all $transition;
            }

            &:before { transform: rotate(-45deg); }
            &:after { transform: rotate(45deg); }
        }
    }

    &__toggle {
        position: relative;
        display: block;
        @include fluid-type(width, 320px, 1920px, 40px, 52px);
        overflow: hidden;

        &-input {
            position: absolute;
            left: -50px;
            top: 0;
            opacity: 0;
            z-index: -1;

            &:checked + span {
                background-color: $blue;

                &:before {
                    right: 1px;
                    left: auto;
                }
            }

            &:focus + span {
                border-color: $blueLight;
            }

            &:checked:focus + span {
                background-color: $blueLight;
            }

            &:disabled + span {
                cursor: default;
                opacity: 0.5;
            }
        }

        &-icon {
            position: relative;
            display: block;
            padding: 0 3px;
            @include fluid-type(height, 320px, 1920px, 22px, 28px);
            border: 2px solid transparent;
            background-color: $grayLight;
            border-radius: 200px;
            transition: $transition;
            cursor: pointer;

            &:before {
                content: '';
                position: absolute;
                top: 1px;
                left: 1px;
                @include fluid-type(height width, 320px, 1920px, 16px, 22px);
                background-color: #fff;
                transition: $transition;
                border-radius: 50%;
            }
        }
    }
}

.loader {
    position: relative;
    width: 30px;
    height: 30px;

    &:before,
    &:after {
        content: '';
        position: absolute;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background: #fff;
        top: calc(50% - 4px);
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    &:before {
        left: 0;
        animation-name: firstDot;
    }
    &:after {
        right: 0;
        opacity: 0.8;
        animation-name: secondDot;
    }
}

@keyframes firstDot {
    0%, 50% {
        transform-origin: 15px center;
    }
    50% {
        transform: rotateZ(180deg);
    }
    51%, 100% {
        transform-origin: center;
    }
    51% {
        transform: rotateZ(180deg) translateX(-22px);
    }
    100% {
        transform: rotateZ(180deg) translateX(0);
    }
}

@keyframes secondDot {
    0%, 50% {
        transform: rotateZ(-180deg);
    }
    51%, 100% {
        transform-origin: -8px center;
    }
}

@media all and (min-width: $tablet) {
    .form {

        &__label {

            &--sm-left {
                margin: 0;
            }
        }
    }
}

@media all and (min-width: $desktopLg) {
    .form {

        &__image {

            &-delete {
                width: 26px;
                height: 26px;

                &:before,
                &:after {
                    width: 20px;
                    left: 3px;
                }
            }
        }
    }
}
