.container {
    padding: 0 7px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    @include fluid-type(margin-left margin-right, 320px, 1920px, -7px, -20px);

    [class^="col-"] {
        @include fluid-type(padding-left padding-right, 320px, 1920px, 7px, 20px);
    }

    &--small {
        @include fluid-type(margin-left margin-right, 320px, 1920px, -5px, -12px);

        [class^="col-"] {
            @include fluid-type(padding-left padding-right, 320px, 1920px, 5px, 12px);
        }
    }

    &--ai-center {align-items: center;}

    &--jc-center {justify-content: center;}
    &--jc-space-between {justify-content: space-between;}
}
[class^="col-"] {
    flex: 0 0 auto;
}
.col-xs-1 {
    width: 8.333333%;
}
.col-xs-2 {
    width: 16.666666%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-4 {
    width: 33.333333%;
}
.col-xs-5 {
    width: 41.666666%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-7 {
    width: 58.333333%;
}
.col-xs-8 {
    width: 66.666666%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-10 {
    width: 83.333333%;
}
.col-xs-11 {
    width: 91.666666%;
}
.col-xs-12 {
    width: 100%;
}

@media all and (min-width: $tablet) {
    .col-sm-1 {
        width: 8.333333%;
    }
    .col-sm-2 {
        width: 16.666666%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.333333%;
    }
    .col-sm-5 {
        width: 41.666666%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.333333%;
    }
    .col-sm-8 {
        width: 66.666666%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.333333%;
    }
    .col-sm-11 {
        width: 91.666666%;
    }
    .col-sm-12 {
        width: 100%;
    }
}

@media all and (min-width: $desktop) {
    .col-md-1 {
        width: 8.333333%;
    }
    .col-md-2 {
        width: 16.666666%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.333333%;
    }
    .col-md-5 {
        width: 41.666666%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.333333%;
    }
    .col-md-8 {
        width: 66.666666%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.333333%;
    }
    .col-md-11 {
        width: 91.666666%;
    }
    .col-md-12 {
        width: 100%;
    }
}

@media all and (min-width: $desktopLg) {
    .col-lg-1 {
        width: 8.333333%;
    }
    .col-lg-2 {
        width: 16.666666%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.333333%;
    }
    .col-lg-5 {
        width: 41.666666%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.333333%;
    }
    .col-lg-8 {
        width: 66.666666%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.333333%;
    }
    .col-lg-11 {
        width: 91.666666%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

@media all and (min-width: $desktopXl) {
    .col-xl-1 {
        width: 8.333333%;
    }
    .col-xl-2 {
        width: 16.666666%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-4 {
        width: 33.333333%;
    }
    .col-xl-5 {
        width: 41.666666%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-7 {
        width: 58.333333%;
    }
    .col-xl-8 {
        width: 66.666666%;
    }
    .col-xl-9 {
        width: 75%;
    }
    .col-xl-10 {
        width: 83.333333%;
    }
    .col-xl-11 {
        width: 91.666666%;
    }
    .col-xl-12 {
        width: 100%;
    }
}
